@import "values";

* {
     font-family: 'Lato', sans-serif;
     line-height: 23px;
     box-sizing: border-box;
}

p {
     font-size: 16px;
     text-align: center;
}
a {
     text-decoration: none; 
}
h1 {
     font-size: 55px !important;
     font-weight: 200;
     color: $white

     
}
h2 {
     font-size: 28px;
     font-weight: 400;
     text-align: center;

     margin-bottom: 10px;
}
h3 {
     font-size: 20px;
     margin: 0;
}
h4 {
     font-size: 18px;
}

.container {
     margin: 0 auto;
     max-width: 940px;
}
.wraper {
     margin: 0 auto;
     max-width: 1024px;
     //1024px
}
.button {
     padding: 12px 13px;
     background: $green;
     text-transform: uppercase;
     color:$white;
     text-decoration: none;
     cursor: pointer;

     transition: .1s;

     &:hover {
          background: $dark-green;
     }
}
.sec {
    padding: 60px 0; 
}
.white-header {
     color: $white;
}
//=============================

.header-top {
     width: 100%;
     height: 95px;

     display: flex;
     justify-content: space-between;
     align-items: center;

     .header-logo {
          display: flex;
          align-items: flex-start;

          img {
               width: 47px;
               height: 47px;
          }

          span {

               p {margin: 0; line-height: 12px;}
               h3 {margin-top: 5px;}
               margin-left: 15px;
          }


     }

     .menu-bar {
          display: none;
     }

     .header-menu {
          display: flex;
          margin-right: 15px;
          position: initial;

          li {
               list-style: none;
               transition: .3s;
               display: block;
               padding: 10px 14px;
               
               
               a {color: $really-dark-grey;}
               
               &:hover {
                    background: $green;
                    a {color: $white;}
               }
          }
     }

}
.header-baner {
     width: 100%;
     height: 450px;

     //450px
     background: url("../img/jumbotron.jpg") center top no-repeat ;

     color:$white;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     span {
          font-weight: 600;
     }
     p {
          max-width: 575px;
          font-weight: 200;
          margin: 45px 0;
     }
}

//==============================

.sec-1 {
     color: $really-dark-grey;
     
     .button-arr {
          display: flex;
          justify-content: center;

          margin-top: 35px;

          div {
               margin: 0px 12px;
          }
     }
     .link-arr {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          margin-top: 45px;

          div {
               margin: 15px 20px;
               border-radius: 50%;

               width: 170px;
               height: 170px;

               .p-content {
                    width: 100%;
                    height: 100%;
                    margin: 0;

                    transition: .3s;
                    background:$opacity-green;
                    opacity: 0;
                    color: $white;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    a {
                         display: flex;
                         justify-content: center;
                         align-items: center;

                         color: $white;
                         border-radius: 50%;
                         background: rgba(0,0,0,.4);

                         font-size: 20px;

                         width: 40px;
                         height: 40px;
                    }

                    h3 {
                         margin-top: 15px;
                         font-weight: 400;
                    }
                    p {
                         font-weight: 200;
                         margin: 0;
                    }

                    &:hover {
                         opacity: 1;
                    }
               }
          }

          .p1 {background: url('../img/img-1.png') center center no-repeat;}
          .p2 {background: url('../img/img-2.png') center center no-repeat;}
          .p3 {background: url('../img/img-3.png') center center no-repeat;}
          .p4 {background: url('../img/img-4.png') center center no-repeat;}
          .p5 {background: url('../img/img-5.png') center center no-repeat;}
          .p6 {background: url('../img/img-6.png') center center no-repeat;}
          .p7 {background: url('../img/img-1.png') center center no-repeat;}
          .p8 {background: url('../img/img-2.png') center center no-repeat;}
     }
}

.sec-2 {
     background: $green;

     .card-arr {
          margin-top: 70px;

          display: flex;
          justify-content: space-around;

          .card {
               width: 220px;
               .card-top {
                  height: 225px;

                  display: flex;
                  justify-content: center;
                  align-items: center;

                    &:hover > .cart-contact {
                         opacity: 1;
                    }

                  .cart-contact {
                         width: 180px;
                         height: 50px;

                         display: flex;
                         justify-content: space-around;
                         align-items: center;

                         background: $opacity-green;
                         font-size: 30px;

                         opacity: 0;
                         transition: .1s;

                         a {color: $white;}

                  }
                    
               }
               .card-avatar1 {background: url(../img/ava-1.png) no-repeat;}
               .card-avatar2 {background: url(../img/ava-2.png) no-repeat;}
               .card-avatar3 {background: url(../img/ava-3.png) no-repeat;}

               .card-content {
                    min-height: 190px;

                    background: #fff;
                    padding: 15px 10px;
                    text-align: center;

                    h4 {
                         margin: 0;
                         font-weight: 400;
                    }
                    i {
                         font-weight: 600;
                         font-size: 14px;
                    }
                    p {
                         text-align: left;
                         margin-bottom: 0;
                    }
               }
          }
     }
     
}

.sec-3 {
     background: $grey;

     .form-and-info {

          margin-top: 55px;

          display: flex;
          justify-content: flex-start;

          form {
               width: 50%;

              .border {
                   border: 2px solid $dark-grey;
              }
              
              .form-top {
                   display: flex;
                   justify-content: space-between;
                   
                   
                   
                    input {
                         width: 50%;
                         height: 50px;
                         padding-left: 13px;
                         &::placeholder {
                              font-size: 14px;
                              font-weight: 600;
                              font-style: italic;
                              color: $dark-grey;
                         }
                         &:first-child {
                              margin-right: 20px;
                         }
                    }  
              }
              textarea {
                   resize: none;
                   width: 100%;
                   height: 150px;
                   overflow: hidden;
                   margin-top: 20px;
                   padding: 15px;

                   &::placeholder {
                         font-size: 14px;
                         font-weight: 600;
                         font-style: italic;
                         color: $dark-grey;
               }
              }
              .form-submit {
                   width: 100%;

                   display: flex;
                   justify-content: flex-end;

                   margin-top: 20px;

                   input {
                        border: none;
                        padding: 12px 30px;
                   }
              }
          }
          .info {
               margin-left: 20px;
               // padding-right: 200px;
               
               width: 220px;
               h4 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 400;
               }

               p {
                    text-align: left;
                    line-height: 27px;
                    font-size: 14px;

                    i {
                         margin-right: 5px;
                    }
               }
          }
     }
}
footer {
     height: 90px;
     background: $dark-blue;

     display: flex;
     align-items: center;
     justify-content: center;

     color: $white;
}

//=============================================

@media screen and (max-width:770px) {
     .container, .wraper {
          max-width: 100%;
          margin: 0;
     }
     header {
          .header-top {
               
               justify-content: center;

               .header-logo {
                    margin-left: 40px;
               }
               .header-menu {
                    position: absolute;
                    right: -15px;
                    top: 60px;

                    height: 0;

                    background: #ecf0f1;
                   flex-direction: column;
                   transition: .3s; 
                    
                   padding: 0;
                   
                   overflow: hidden;
               }
               .menu-bar {
                    display: block;

                    padding: 10px 11px;
                    border-radius: 50%;

                    font-size: 25px;
                    color: $really-dark-grey;
                    transition: .3s;
                    
                    position: absolute;
                    right: 2%;
                    cursor: pointer;

                    &:hover {
                         background: $green;
                         color: $white;
                         
                    }
               }
               .active {
                    background: $green;
                    color: $white;
                    
               }
               .menuShow {
                    height: initial;
               }
          }
     }
     .sec-1 {
          .link-arr {
               div {
                    width: 150px;
                    height: 150px;
               }
          }
     }
}
@media screen and (max-width:680px) {
     .sec-1 {
          .button-arr {
               div {
                    margin: 0;
               }
          }
     }
     .sec-2 {
          .card-arr {
               flex-direction: column;
               align-items: center;

               .card {
                    margin: 10px 0;
                    width: 100%; 
                    display: flex;
                    
                    .card-top {
                         margin-right: 5px;
                    }
               }
          }
     }
     .sec-3 {
          .form-and-info {
               
               flex-direction: column;
               align-items: center;
               .info {
                    margin: 30px 0 0 0;
                    text-align: center;
                    width: 95%;    

                    h4 {
                         font-size: 18px;
                    }
               }
               form {
                    width: 100%;
                    .form-top {
                         flex-direction: column;
                         input {
                              width: 100%;
                              margin-top: 5px;
                         }
                    }
                    textarea {
                         margin-top: 5px;
                    }
                    .form-submit {
                         input {
                              width: 100%;
                         }
                    }
               }
          }
     }
}
@media screen and (max-width:460px) {
     h1 {
          font-size: 43px !important;
     }
     header {
          .header-top {
               justify-content: flex-start;
               .header-logo {
                    margin-left: 1%;
                    

                    
               }
               .menu-bar {
                    font-size: 22px;
                    padding: 8px 9px;
               }
          }
     }
     .sec-1 {
          .button-arr {
               display: block;
               text-align: center;

               div {
                    margin: 3px 0;
               }
          }
          .link-arr {
               div {
                    width: 120px;
                    height: 120px;
                    .p-content {
                         a {
                              font-size: 18px;

                              width: 30px;
                              height: 30px;
                         }
                         h3 {
                              font-size: 18px;
                              margin-top: 5px;
                         }
                    }
               }
          }
     }
     .sec-2 {
         .card-arr > .card > .card-top {
              width: 160px;
          //     height: 180px;
         } 
     }

}